#formbox{
    height: 370px;
    width: 380px;
    position: relative;
    margin: 2% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.input-box:first-child{
    max-height: 88px;
    margin-bottom: 10px;
}
.input-box:nth-child(2){
    max-height: 88px;
    margin-bottom: 26px;
}
.input-group{
    top: 30px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
    margin-top: 40px;
}
#reset{
    left: 50px;
}
.textbox{
    margin: 20px auto;
}
.title{
    position: absolute;
    display: block;
    text-align: center;
    z-index: 1000;
    margin: 5px;
}
#showChangePassword, #showConfirmChangePassword{
    display: none;
    position: absolute;
    font-size: 1rem;
}
#showChangePassword{
    right: 20px;
    top: 36px;
}
#showConfirmChangePassword{
    right: 20px;
    bottom: 96px;
}
#hideChangePassword, #hideConfirmChangePassword{
    display: block;
    position: absolute;
    font-size: 1rem;
}
#hideChangePassword{
    right: 20px;
    top: 36px;
}
#hideConfirmChangePassword{
    right: 20px;
    bottom: 96px;
}
.error{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: red;
    z-index: 1000;
    margin: 5px;
    top: unset;
}
.errorText{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: red;
    transform: translateY(60px);
}