body{
    min-height: 100vh;
}
.sectionContainer{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding: 50px 120px 120px 120px;
}
.headTitle{
    position: relative;
    width: max-content;
    padding: 150px 50px 0 120px;
}
.headTitle h1{
    text-align: left;
    margin: auto;
    position: relative;
    font-size: 36px;
    font-weight: 1000;
    line-height: 42px;
}
table{
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}
.tableResponsive{
    width: 100%;
    height: auto;
    overflow: auto;
}
td{
    min-width: 200px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
thead td{
    padding: 1.1rem 0.5rem;
    font-size: 0.9rem;
    text-align: center;
    color: #fff;
    max-width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
thead td{
    background: black;
    font-weight: 700;
    position: sticky !important;
    top: 0 !important;
    border: none;
    z-index: 3;
}
.imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
table img{
    max-width: 150px;
}
tbody td i{
    font-size: 24px;
    color: #ff7782;
}
tbody td{
    text-align: center;
    background: #fff;
    padding: 30px 0;
}
tbody tr:first-child td{
    padding-top: 30px;
}
tbody tr:last-child td:last-child{
    padding: 30px 0;
}
table td:nth-last-child(2){
    max-width: 170px;
}
table td:last-child{
    width: 140px;
}
.viewEntity{
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    background: rgb(40, 134, 235);
    border: 1px solid rgb(40, 134, 235);
    transition: all 0.3s ease;
    text-decoration: none;
}
.viewEntity:hover{
    background: rgb(107, 175, 248);
}
/* Make responsive / Media Query For My Orders Table */
@media(max-width: 1300px) {
    .sectionContainer{
        padding: 70px 0;
    }
    table thead td:first-child, table td{
        max-width: unset;
        min-width: unset;
    }
    table td{
        width: 60px;
    }
    table thead td:first-child{
        width: 50px;
    }
    table td:last-child {
        width: 120px;
    }
}